:root{
   --family-title: 'Sacramento', cursive;
   --family-text: 'Quicksand', sans-serif;

   --color-light-1: #C2929D;
   --color-light-2: #BF0637;
   --color-light-3: #D9843B;
   --color-dark-1: #7A8584;
   --color-dark-2: #506163;
   --color-dark-3: #804E22;
   --black: #23261D;
   --white: #F2F2F0;



}