.card-section{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 5vw;
   align-content: flex-start;
   padding: calc(2em + 1vw) var(--side-spacing);
}

.card-section__card{
   display: flex;
   flex-direction: column;
   flex: 0 1 min-content;
}

.card-section__card:last-of-type{
   margin-right: auto;
}

.card-section__card:nth-of-type(2n){
   margin-right: 0;
}

.card__image{
   width: 40vw;
   aspect-ratio: 2 / 3;
   border-radius: calc(40vw / 10);
   border: 2px solid var(--color3); /*2px or calc(width / 30) ? */
   overflow: hidden;
   background-image: var(--gradient);
}

.card__image > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   mix-blend-mode: multiply;
}

.dark .card__image > img{
   mix-blend-mode: exclusion; /*Antes era dark-light*/
}

.card__information{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-grow: 1;
}

.card__information > *{
   padding-top: .0625rem;
}

.information__movie{
   font-size: var(--size-small);
   color: var(--contrast);
   padding-top: .125rem;
}

.information__director,
.information__year{
   font-size: var(--size-tiny);
   color: var(--contrast-transparent);
}

.information__hearts{
   display: flex;
   gap: .75vw;
}

.information__hearts > svg > *{
   fill: var(--color2);
}

.information__hearts img,
.information__hearts > svg{
   height: 2vw;
}

@media screen and (min-width: 1000px){
   .card-section{
      gap: 2vw;
   }
   
   .card__image{
      width: 20vw;
      border-radius: calc(20vw / 10);
   }
   
   .card-section__card:nth-of-type(2n){
      margin-right: unset;
   }

   .card-section__card:last-of-type{
      margin-right: auto;
   }

   .card-section__card:nth-of-type(4n){
      margin-right: 0;
   }
}