.card-section{
   display: flex;
   flex-wrap: wrap;
   gap: 5vw;
   padding: 1em var(--side-spacing) 1em;
}

.card-section__card{
   display: flex;
   flex-direction: column;
}

.card__image{
   width: 18.75vw;
   height: calc(18.75vw * 3/2);
   border-radius: calc(18.75vw / 10);
   border: 2px solid var(--color3); /*2px ou fazer calc(width / 30) ? */
}

.card__information > *{
   padding-top: .0625rem;
}

.information__movie{
   font-size: var(--size-small);
   color: var(--contrast);
   padding-top: .125rem;
}

.information__director,
.information__year{
   font-size: var(--size-tiny);
   color: var(--contrast-transparent);
}

.information__hearts{
   display: flex;
   gap: .75vw;
}

.information__hearts > svg > *{
   fill: var(--color2);
}

.information__hearts img,
.information__hearts > svg{
   height: 2vw;
}