footer{
   background-color: var(--color2);
   padding: 1rem var(--side-spacing) .5rem;
}

footer > * {
   color: var(--color1);
   text-align: center;
}

.footer__creators > *{
   font-size: var(--size-medium);
   margin-bottom: .5em;
}

.footer__creators > h2{
   color: var(--color1)
}

.creator{
   margin-bottom: 1.25em;
}

.creator__link{
   position: relative;
   text-decoration: none;
   color: var(--color1); /*inherit caused delay in color change*/
}

.link__icon{
   --size: 1.5em;
   width: var(--size);
   height: var(--size);
   position: absolute;
   left: -3ch;
   bottom: -.125em;   
}

.link__icon > * {
   fill: var(--color1)
}

.footer__title{
   margin-top: 1.25rem;
   font-family: var(--family-title);
   font-size: var(--size-title);
}

.footer__copyright{
   margin-top: 1.25rem;
   font-size: var(--size-small);
}