.header{
   height: calc(6vh + 6vw);
   background-color: var(--color1);
   display: flex;
   justify-content: space-between;
   padding: 0 var(--side-spacing);
}

.header__logo,
.header__icons{
   display: flex;
   height: 100%;
   align-items: center;
}

.header__logo{
   gap: 1vw;
}

.header__icons{
   gap: 5vw;
}

.logo__text{
   font-family: var(--family-title);
   font-size: var(--size-title);
   font-weight: bold;
   color: var(--color2);
   display: none;
}


.logo__image,
.icons__icon{
   height: 40%;
}

.logo__image > *,
.icons__icon > *{
   stroke: var(--color2);
}

.burger{
   display: flex;
   flex-direction: column;
   justify-content:center;
   gap: 25%;
}

.burger__line{   
   background-color: var(--color2);
   height: 9%;   
   border-radius: 10px; /*Can I make this variable?*/
   width: 70%;
   margin: 0 auto;  
}

@media screen and (min-width: 750px){
   .logo__text{
      display: inline-block;
   }
}