.header{
   height: 11vh;
   background-color: var(--color1);
   display: flex;
   justify-content: space-between;
   padding: 0 var(--side-spacing);
}

.header__logo,
.header__icons{
   display: flex;
   height: 100%;
   align-items: center;
}

.header__icons{
   gap: 5vw;
}

.logo__text{
   font-family: var(--family-title);
   font-size: var(--size-title);
   color: var(--color2);

}

.logo__image,
.icons__icon{
   height: 40%;
}

.burger{
   display: flex;
   flex-direction: column;
   justify-content:center;
   gap: 25%;
}

.burger__line{   
   background-color: var(--color2);
   height: 9%;   
   border-radius: 10px; /*Can I make this variable?*/
   width: 70%;
   margin: 0 auto;  
}