.modal,
.fade{
   position: fixed;

   opacity: 1;
   transition: opacity 0.5s ease;
}

.fade{    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.modal{
    width: 80vw;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: var(--gradient);
    z-index: 2;

    padding: 1em;
    border-radius: calc(min(80vw, 75vh) / 10);
    border: min(.75vw, 10px) solid var(--color3);
}

.hide{
   opacity: 0;
   z-index: -1;

   transition: opacity 0s linear;
}

.modal__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: var(--size-large);
   padding-bottom: .5em;
   border-bottom: min(.5vw, 8px) solid var(--color3); 
   margin-bottom: 1rem;
}

.modal__header__title{
    color: var(--color2);
    font-weight: 600;    
}

.modal__header__close{
    width: 7vw;
    height: 7vw;
    background-color: var(--color3);
    color: var(--color2);
    font-weight: 600;
    padding: 0;
    font-size: inherit;
    
    border: min(.25vw, 4px) solid var(--color2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close__symbol{
    width: 65%;
    transform: rotate(45deg);
}

.close__symbol > *{
    stroke: var(--color2)
}
.modal__search{
    padding: .5em 1em;
    font-size: var(--size-large);
    color: var(--color3);
    background-image: linear-gradient(120deg,  var(--white) -50%, var(--color1) 300%);
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: calc(var(--size-large) *2 );
    border: min(.25vw, 4px) solid var(--color2);    
}

.modal__search::placeholder{
    color: var(--black);
    opacity: 0.5;
}

.modal__search:focus,
.modal__search:focus-visible,
.modal__search:focus-within{
    border: min(.25vw, 4px) solid var(--color3);
    outline: none;
}

.hide-search-list{
    display: none;
}

.modal__search-list{
    /* position: absolute;
    right: 0;
    top: 100%; */
    max-height: 75%;
    width: calc(100% - (var(--size-large) * 2));
    overflow-y: scroll;
	display: block;
	margin: 0 auto;
    perspective: 1000px;
}

.search-list__item{
    background-color: var(--white);
    box-shadow: inset 1px 1px 5px var(--color1), inset -1px -1px 5px var(--color1);
    color: var(--color2);
    border-bottom: 1px solid var(--color1); /*Make 1 px a fluid value?*/
    width: calc(100% - (var(--size-large) * 2));
    margin: 0 auto;
	display: flex;
	gap: 0.5em;
    transition: transform 1s ease, box-shadow 1s ease-in-out;
    cursor: pointer;
    padding: 0.5em;
}

.search-list__item:hover{
    transform: translateZ(2px) translateX(2px);
    box-shadow: inset 1px 1px 5px var(--color1), inset -1px -1px 5px var(--color1), 2px 2px 4px var(--black);
    transition: transform .5s ease, box-shadow .25s ease-in-out;    
}

.search-item__thumbnail{
    flex: 1;
}

.search-item__thumbnail img{
    width: 100%;
	aspect-ratio: 9 / 16;
	object-fit: cover;
}

.search-item__info{
	flex: 1;
    font-weight: 600;
}

.search-item__info h3{    
    font-size: var(--size-large);
    color: var(--color2);
}

.search-item__info p{
    font-size: var(--size-medium);
    color: var(--color1);
    margin-top: .75em;
} 


.modal__search-list::-webkit-scrollbar{
    width: 2vw; /*Melhorar medida*/
    background-color: var(--color2);
}

.modal__search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px var(--contrast);
}

.modal__search-list::-webkit-scrollbar-thumb{
    background-image: var(--gradient);
    outline: none;
    border-radius: 1vw;
}



/*     
.modal-body p {
    margin-bottom: 1rem;
}

/* 
.search-container{ */
    /* colocar valores proporcionais? */
/*     height: 150px; */
    /* centraliza a caixa de busca, talvez fique melhor à esquerda, nesse caso, comentar as linhas abaixo */
/*     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: center;
} 

.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
 }

.search-element .form-control{
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}

.search-list .search-list-item{
    background-color: var(--white);
    padding: 0.5rem;
    border-bottom: 1px solid var(--color1);
    width: calc(350px - 8px);
    color: var(--color2);
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
} */

/* thumbnail */
/* .search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
} */

/* js related class */
/* .hide-search-list{
    display: none;
} */

/* movie result */
/* .result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: var(--color2);
    padding-top: 3rem;
} */

/* movie info stylings */
/* .movie-title{
    font-size: 2rem;
    color: var(--yellow-color);
}
.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
}
.movie-info .rated{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}
.movie-info .genre{
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-info .language{
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}
.movie-info .awards i{
    color: var(--yellow-color);
    margin: 1rem 0.7rem 0 0;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px){
    .search-element{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
} */



