.modal,
.fade{
   position: fixed;

   opacity: 1;
   transition: opacity 0.5s ease;
}

.fade{    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.modal{
    width: 80vw;
    height: 75vh; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: var(--gradient);
    z-index: 2;

    padding: 1em;
    border-radius: calc(min(80vw, 75vh) / 10);
    border: min(.75vw, 10px) solid var(--color3);
}

.modal__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: var(--size-large);
   padding-bottom: .5em;
   border-bottom: min(.5vw, 8px) solid var(--color3); 
   margin-bottom: 1rem;
}

.modal__header__title{
    color: var(--color2);
    font-weight: 600;    
}

.modal__header__close{
    width: 7vw;
    height: 7vw;
    background-color: var(--color3);
    color: var(--color2);
    font-weight: 600;
    padding: 0;
    font-size: inherit;
    
    border: min(.25vw, 4px) solid var(--color2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close__symbol{
    width: 65%;
    transform: rotate(45deg);
}

.close__symbol > *{
    stroke: var(--color2)
}
.modal__search{
    padding: .5em 1em;
    font-size: var(--size-large);
    color: var(--color3);
    background-image: linear-gradient(120deg,  var(--white) -50%, var(--color1) 300%);
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: calc(var(--size-large) *2 );
    border: min(.25vw, 4px) solid var(--color2);     
}

.modal__search::placeholder{
    color: var(--black);
    opacity: 0.5;
}

.modal__search::-webkit-search-cancel-button{
    appearance: none;
    content: '';
    width: var(--size-large);
    height: var(--size-large);
    background-image: url('../images/plus.svg');
    background-size: contain;
    transform: rotate(45deg);
}

.dark .modal__search::-webkit-search-cancel-button{
    mix-blend-mode: luminosity; /*Gambiarra boa*/
}

.modal__search:focus,
.modal__search:focus-visible,
.modal__search:focus-within{
    border: min(.25vw, 4px) solid var(--color3);
    outline: none;
}

.modal__search-list{
    max-height: 75%;
    width: calc(100% - (var(--size-large) * 2));
    overflow-y: scroll;
	display: block;
	margin: 0 auto;
    perspective: 1000px;
}

.modal__search-list::-webkit-scrollbar{
    width: 2vw; /*Melhorar medida*/
    background-color: var(--color2);
}

.modal__search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px var(--contrast);
}

.modal__search-list::-webkit-scrollbar-thumb{
    background-image: var(--gradient);
    outline: none;
    border-radius: 1vw;
}

.search-list__item{
    background-color: var(--white);
    box-shadow: inset 1px 1px 5px var(--color1), inset -1px -1px 5px var(--color1);
    color: var(--color2);
    border-bottom: 1px solid var(--color1); /*Make 1 px a fluid value?*/
    width: calc(100% - (var(--size-large) * 2));
    margin: 0 auto;
	display: flex;
	gap: 0.5em;
    transition: transform 1s ease, box-shadow 1s ease-in-out;
    cursor: pointer;
    padding: 0.5em;
}

.search-list__item:hover{
    transform: translateZ(2px) translateX(2px);
    box-shadow: inset 1px 1px 5px var(--color1), inset -1px -1px 5px var(--color1), 2px 2px 4px var(--black);
    transition: transform .5s ease, box-shadow .25s ease-in-out;    
}

.search-item__thumbnail{
    flex: 1;
}

.search-item__thumbnail img{
    width: 100%;
	aspect-ratio: 2 / 3;
	object-fit: cover;
    border-radius: 15% / 10%;
    border: 2px solid var(--color2); /*Queria fazer dinamicamente, mas valores quebrados de pixel geram espacamento entre borda e imagem*/
}

.search-item__info{
	flex: 1;
    font-weight: 600;
    text-align: center;
}

.search-item__info h3{    
    font-size: var(--size-large);
    color: var(--color2);
    padding: 0 .25em;
}

.search-item__info p{
    font-size: var(--size-medium);
    color: var(--color1);
    margin-top: .75em;
    
} 

.modal__result-grid{
    z-index: 3;
    width: 90vw; /*Medida provisoria*/
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--gradient);
    padding: 1em;
    border-radius: calc(min(80vw, 75vh) / 10);
    border: min(.75vw, 10px) solid var(--color3);
    overflow-y: scroll;
}

.result-grid__movie-poster{
    width: 100%;
}

.result-grid__movie-poster > img{
    width: 75%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 25%;
    border-radius: 50%;
    border: 4px solid var(--color2); /*Queria fazer dinamicamente, mas valores quebrados de pixel geram espacamento entre borda e imagem*/

    margin: 0 auto;
    display: block;
}

.result-grid__movie-info h3{
    color: var(--color2);
    font-size: var(--size-title);
    font-weight: 600;
    margin: .5em 0;
    text-align: center;
}

.result-grid__movie-info ul{
    color: var(--contrast-transparent);
    font-size: var(--size-medium);
    line-height: 1.4;
    margin-bottom: .5em;    
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.result-grid__movie-info ul li> b{
    color: var(--color2);
}

.result-grid__movie-info p{
    color: var(--contrast-transparent);
     font-size: var(--size-large);
     line-height: 1.4;
}

.result-grid__movie-info p > b{
    color: var(--color2);
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.range-container{
    text-align: center;
    margin-bottom: .75em;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
}

.label-range{
    color: var(--color2);
    font-size: var(--size-large);
    font-weight: 600;
    display: block; 
    margin-bottom: .25em;
}

.input-range{
    width: 80%;
    margin-bottom: 3vw;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-size: 0 100%;
}

.input-range::-webkit-slider-container{
    background-size: inherit;
}

.input-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;

  border: none;
  height: 5vw;
  width: 5vw;
  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin-top: -1%;
  filter: brightness(1) drop-shadow(2px 2px 4px var(--black));  
}

.dark .input-range::-webkit-slider-thumb{    
    filter: brightness(5) hue-rotate(240deg) grayscale(0.8)  drop-shadow(2px 2px 4px var(--black));
}

.input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3vw;
  border-radius: 1.5vw;
  cursor: pointer;
  background-color: var(--color1);
  background-image: linear-gradient(var(--color2) 0, var(--color1) 200%);
  background-repeat: no-repeat;
  background-size: inherit;
  background-blend-mode: multiply;
}

.input-range::-moz-range-track{
    width: 100%;
    height: 3vw;
    border-radius: 1.5vw;
    cursor: pointer;
    background-color: var(--color1);
    background-image: linear-gradient(var(--color2) 0, var(--color1) 200%);
    background-repeat: no-repeat;
    background-size: inherit;
    background-blend-mode: multiply;
}

.input-range::-moz-range-thumb{
  appearance: none;
  border: none;  
  height: 5vw;
  width: 5vw;
  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent; /*Specific for mozilla*/
  cursor: pointer;
  margin-top: -1%;
  filter: brightness(1) drop-shadow(2px 2px 4px var(--black));  
}

.dark .input-range::-moz-range-thumb{    
    filter: brightness(5) hue-rotate(240deg) grayscale(0.8)  drop-shadow(2px 2px 4px var(--black));
}

.input-range:focus {  
  outline: none;
 }

.input-range:focus::-webkit-slider-runnable-track{
  border: 1px solid var(--color2);
}

.hearts-label{
   justify-content: center;
   gap: .75vw;
}

.hearts-label > svg > *{
   fill: var(--color2);
}

.hearts-label > svg{
   height: 3vw;
}

.result-button{
    font-family: var(--family-text);
    color: var(--white);
    border: none;
    font-size: var(--size-large);
    padding: .5em 1.75em;
    border-radius: calc(var(--size-large) + 1em);
}

.button-add{
    background-color: var(--color2);
}

.button-cancel{
    background-color: var(--color1);
}

.hide{
   opacity: 0;
   z-index: -1;

   transition: opacity 0s linear;
}

.hide-search-list{
    display: none;
}

/*     
.modal-body p {
    margin-bottom: 1rem;
}

/* 
.search-container{ */
    /* colocar valores proporcionais? */
/*     height: 150px; */
    /* centraliza a caixa de busca, talvez fique melhor à esquerda, nesse caso, comentar as linhas abaixo */
/*     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: center;
} 

.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
 }

.search-element .form-control{
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* movie result */
/* .result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: var(--color2);
    padding-top: 3rem;
} */

/* movie info stylings */
/* .movie-title{
    font-size: 2rem;
    color: var(--yellow-color);
}
.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
}
.movie-info .rated{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}
.movie-info .genre{
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-info .language{
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}
.movie-info .awards i{
    color: var(--yellow-color);
    margin: 1rem 0.7rem 0 0;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px){
    .search-element{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
} */



