.user-field{
   padding: 1em var(--side-spacing) 0;
}

.user-field__user{
   display: flex;
   align-items: center;
   gap: .5em;
}

.user__image{
   width: 10vw;
}

.user__name{
   color: var(--color3);
   font-size: var(--size-medium);
   font-weight: 600;
}

.user-field__controls{
   padding-top: .5em;
   border-bottom: 1px solid var(--color3); /*Can I make this variable?*/
}

.controls__list{
   display: flex;
   font-size: var(--size-large);
   gap: .5rem;   
}

.list__text{
   color: var(--color3);
   line-height: 1.3;
}

.controls__list li:last-of-type{
   margin-left: auto;
}

.list__image{
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   width: 9.5vw;
}

.list--active{
   border-bottom: 1px solid var(--color2);
   margin-bottom: -1px; /*Gambiarra. Tem solucao mais elegante?
   https://stackoverflow.com/questions/12692089/preventing-double-borders-in-css
   https://stackoverflow.com/questions/28623446/hover-effect-expand-bottom-border#:~:text=To%20expand%20the%20bottom%20border,1%20on%20the%20hover%20state.
   */
}